.button button {
  border: none;
}

/* Book Turf button */
.setion1-left-button {
  background-color: white;
  color: black;
}

.left-side .setion1-left-button:hover {
  background-color: black;
  color: white;
}

.left-side .setion1-left-button:active {
  transform: scale(0.9);
}
